extends ../../../../__MIXINS/_layout-default.pug
include ../../../../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'Serious Play: Design in Midcentury America'
    - var bodyID    = 'life'
    - var bodyClass = 'books-articles'

block main-content
    - var imageHeaderBackground = 'CHANGE_ME'

    - var articleAuthor         = 'Monica Obniski (Author), Darrin Alfred (Author), Amy Auscherman (Contributor), Steven Heller (Contributor), Pat Kirkham (Contributor), Alexandra Lange (Contributor)'
    - var publishedInTitle      = 'CHANGE_ME'
    - var publishedInSubtitle   = 'CHANGE_ME'
    - var publishedInSubtitle2  = 'CHANGE_ME'
    - var publishedInThumbnail  = []
    - publishedInThumbnail.push({linkSm: 'CHANGE_ME', linkLg: 'CHANGE_ME', title: ''})
    - var library               = 'yes'
    - var libraryLink           = 'CHANGE_ME'
    - var abe                   = 'yes'
    - var abeLink               = 'CHANGE_ME'
    - var amazon                = 'yes'
    - var amazonLink            = 'https://amzn.to/2Lwlv8U'
    - var modernism101          = 'no'
    - var modernism101Link      = 'CHANGE_ME'
    - var barnesnoble           = 'no'
    - var barnesnobleLink       = 'CHANGE_ME'
    - var ebay                  = 'no'
    - var ebayLink              = 'CHANGE_ME'

    - var nextType              = 'Article'
    - var nextTitle             = 'CHANGE_ME'
    - var nextDate              = 'CHANGE_ME'
    - var nextDescription       = 'CHANGE_ME'

    - var nextLink              = 'CHANGE_ME'

    - var relatedItemLink1      = 'CHANGE_ME'
    - var relatedItemTitle1     = 'CHANGE_ME'
    - var relatedItemFootnote1  = 'CHANGE_ME'

    - var relatedItemLink2      = 'CHANGE_ME'
    - var relatedItemTitle2     = 'CHANGE_ME'
    - var relatedItemFootnote2  = 'CHANGE_ME'

    - var relatedItemLink3      = 'CHANGE_ME'
    - var relatedItemTitle3     = 'CHANGE_ME'
    - var relatedItemFootnote3  = 'CHANGE_ME'

    - var imageCarouselTitle    = 'The Original ' + nextType
    - var imageCarouselSubtitle = 'CHANGE_ME'
    - var imageCarousel         = []
    - imageCarousel.push({linkSm: 'CHANGE_ME', linkLg: 'CHANGE_ME', title: ''})



    .progress-container
        .progress-bar


    //- ===============================================
    //- =			FULL WIDTH IMAGE HEADER			=
    //- ===============================================
    .wrapper-parallax
        .imageHeader-full
            h1(data-aos="fade-up")!= pageTitle

            p(data-aos="fade-up")!= publishedInTitle
                br
                != publishedInSubtitle
                unless publishedInSubtitle2 == 'CHANGE_ME'
                    br
                    != publishedInSubtitle2

            a.button.white.text-caps.radius.down-arrow#original-article-link.bottomAlign(data-aos="fade-up") View the Original #{nextType}

            img(src=imageHeaderBackground)

        //- -----  End of FULL WIDTH IMAGE HEADER  ------


    //- ==========  BODY  ==========
    .cd-main-content
        .grid-container
            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content#original-article
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        INTRO



                    hr.w50.hr-red.horizontal-center.small-mt4.small-mb3

                    .text-center
                        h5.text-caps.small-m0.medium-m0.sans-serif The Original Text
                        unless articleAuthor == 'CHANGE_ME'
                            h6!= 'By ' + articleAuthor

                    .panelCallout.small-p1.medium-p3.large-p4
                        :markdown-it(html typographer plugins=['markdown-it-sup'])
                            ARTICLE


            //- /*-----  End of BODY  ------*/





        include ../../../../__MIXINS/_include-image-carousel.pug

        include ../../../../__MIXINS/_include-published-in.pug

        include ../../../../__MIXINS/_include-next-item.pug

        include ../../../../__MIXINS/_include-social-media.pug